pyarrow

# Environment Variables
python-dotenv

# AWS stack
s3fs
fsspec
boto3
sagemaker
awswrangler

# Data Analysis
pandas
matplotlib

# Machine Learning
scikit-learn
xgboost

# Dashboard
streamlit
altair
watchdog

# Jupyter
ipykernel
